<h1>All Flats</h1>

<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag flat.picture_url, class: "card-img-top" if flat.picture_url.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
          <p class="card-text">Price per night: <%= flat.price_per_night %>€</p>
          <p class="card-text">Number of guests: <%= flat.number_of_guests %></p>
          <%= link_to 'Show', flat_path(flat), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
